body {
	background:#FFF;
	font-family:Helvetica, Arial, sans-serif;
	line-height:1.4;
}
#container {
	overflow: auto;
	max-width: 980px;
	margin: 0 auto;
}
#logo {
	background: url(../images/sagip-me.png) top left no-repeat;
	width: 361px;
	height: 100px;
	overflow: hidden;
	text-indent: -9999px;
	padding: 0;
}

#logo a {
	display: block;
	height: 100px;
	width: 360px;
}
a:link, a:visited {
	color: #0093d7;
	text-decoration: none;
}
#logo a:hover, a:focus, a:visited:hover, a:visited:focus, a:active {
	color: #009ee7;
	text-decoration: underline;
}
a, a:link, a:visited {
	color: rgba(46, 77, 167, 1);
	text-decoration: none;
}
a:hover, a:focus, a:visited:hover, a:visited:focus, a:active {
	color: rgba(46, 77, 167, 0.7);
	text-decoration: underline;
}
#map-canvas {
	height: 300px;
}
table.dataTable td {
	padding: 0 10px !important;
	height:100px;
}
.case {
	background: #FFF;
	position: relative;
}
.case-meta {
	float: left;
	padding-right: 20px;
	border-right: 1px solid #DDD;
	margin-right: 20px;
}
.case-meta div {
	padding: 20px 0;
}
.case-details {
	overflow: auto;
}
.case-details div {
	float: left;
	padding-right: 5%;
}
.summary {
	padding-top: 20px;
	clear: both;
}
.case-details .case-status {
	position: absolute;
	top: 0;
	right: 0;
	float: none !important;
	padding: 0;
}
.status, .priority {
	padding: 10px;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	line-height: 2;
	margin: 5px;
}
.priority.low {
	background: #1F0000;
}
.priority.normal {
	background: #3A0000;
}
.priority.high {
	background: #C00000;
}
.priority.urgent {
	background: #FF3300;
}
.status.on-hold {
  color: #a9a9a4;
}
.status.new-case {
  color: #00A8BE;
}
.status.help-on-the-way {
  color: #FF3300;
}
.status.closed {
  color: #000;
}
.status.active {
  color: #04A700;
}
.button, button, input[type=button] {
	border: none;
	text-shadow: none;
	background: #2e4da6;
}
.button:hover, button:hover, input[type=button]:hover {
	background: #1b80cd;
	border: none;
}
.button:focus, button:focus, input[type=button]:focus {
	background: #1b80cd;
	border: none;
}
.button:active, button:active, input[type=button]:active {
	background: #193381;
	border: none;
}

#main-nav {
	border-radius: 6px;
	font-size: 16px;
	text-transform: uppercase;
	background: #C00000;
}
#main-nav li a {
	color: #FFF;
}
#main-nav ul{
	margin: 0;
}
#main-nav li a:hover, #main-nav li a:focus {
	background: #EC2525;
}

#main-nav li ul.sub-menu li a, #main-nav li ul.children li a {
background: #EC2525;
}
#main-nav li ul.sub-menu li a:hover, #main-nav li ul.sub-menu li a:focus, #main-nav li ul.children li a:hover, #main-nav li ul.children li a:focus {
	background: #FF3737;
}
.header{
	background: #FFF;
}
a.casebutton{
	position: absolute;
	top: 56px;
	right: 0px;
	float: none !important;
    padding-left:15px;
    padding-right:80px;
    margin: 0px;
    background:#2e4da6;
    height:38px; width:150px;
    display:inline-block;
    overflow:hidden;
}

a.casebutton span.btn-text{
	background: #2E4DA7;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	clear: both;
	text-align:center;
	margin:0 auto;
	padding-top:9px;
    display:block;
    white-space:nowrap;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    text-decoration:none;
}

span.btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:52px;
    border-left:1px solid #5d81ab;
}
span.btn-icon-right span{
   	width:38px;
    height:38px;
    opacity:0.7;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    background:transparent url(../images/arrow_right.png) no-repeat 50% 55%;
}
span.btn-icon-right.download span{background:transparent url(../images/arrow_down.png) no-repeat 50% 55%;}
a.casebutton:hover span.btn-text{
    text-shadow: 0px 1px 1px #5d81ab;
    color: #fff;
    text-decoration:none;
    border-bottom:0px;
}
a.casebutton:hover span.btn-icon-right span{
    opacity: 1;
}
a.casebutton:active {
    position:relative;
    top:1px;
    background:#5d81ab;
    border-color:#80a9da;
}

.dataTables_filter, .dataTables_length {
	padding-bottom: 30px;
}
.dataTables_info, .dataTables_paginate {
	padding-top: 30px;
}
table.dataTable tr.odd {
	background: #EEE;
}
table.dataTable tr.odd td.sorting_1 {
	background: #C9C9C9;
}
table.dataTable tr.even td.sorting_1 {
	background: #EEE;
}
table.dataTable thead th {
	height: 45px;
	vertical-align: middle;
	background-color: #363636;
	color: #FFF;
}
.paginate_disabled_previous {
	padding-right: 30px;
}
.sorting_asc {
	background: url(../images/sort-asc.png) no-repeat center right;
}
.sorting {
	background: url(../images/sort-both.png) no-repeat center right;
}
.sorting_desc {
	background: url(../images/sort-desc.png) no-repeat center right;
}
.paginate_disabled_previous {
	background: url(../images/back-disabled.png) no-repeat top left;
}
.paginate_disabled_next {
	background: url(../images/next-disabled.png) no-repeat top right;
}
.paginate_enabled_previous {
	background: url(../images/back-enabled.png) no-repeat top left;
}
.paginate_enabled_next {
	background: url(../images/next-enabled.png) no-repeat top right;
}
.footer {
	max-width: 980px;
	margin: 40px auto;
}


/* Single Case Styles */
.case-block { margin-bottom: 2.5em; }
.case-block h2.case-heading { margin:0; padding: .25em; font-size:1.25em; background-color:#363636; color:white; }
ul.case-summ { margin:0; }
.case-summ > li:nth-child(odd) { background-color: #E9E9E9; }
.case-summ > li:nth-child(odd) span.summ-name { background-color: #BDBDBD; }
.case-summ span { display:inline-block; padding: .25em; line-height: 1.5em; vertical-align: top; }
.case-summ span.summ-name { width:19.5%; background-color: #E9E9E9; }
.case-summ span.summ-entry { width:79.5%; }
.case-summ span.summ-entry.priority { width:auto; }
.case-summ span ul { margin:0; }
.case-summ .priority { margin:0; line-height:1.5em; font-size:1em; padding-left:1em; padding-right:1em; }
.case-summ .priority a { color:white; }

.case-detail-entry { border:1px solid #E9E9E9; border-top:none; padding: .75em; }
.case-detail-entry h1.case-title, .case-detail-entry h2.case-title { font-size:1.25em; margin:0 0 .25em; }
.case-detail-entry p { margin-top:0; }
.case-detail-entry img.casethumbnail { float:left; margin:0 1em .75em 0; }

a.casestatus { font-weight:bold; color:#04A700; }
.panel-heading h1 { font-size: 1.75em;  }

.case-summ input[type="button"], select { margin: 0; vertical-align: middle }


/* case status */
.errorMsg, .successMsg {
	border-radius: 6px;
	margin-bottom: 20px;
	font-size: 12px;
	margin: 0px 0px 0px 10px;
	padding: 3px 5px 3px 23px !important;
}
.errorMsg {  background: url(../images/cross.png) no-repeat #FFEBED 4px;  border: 1px solid #FCD2D7;  color: #9C434F;  }
.successMsg {  background: url(../images/check.png) no-repeat #EDFCF1 4px;  border: 1px solid #8CBD99;  color: #2F8245; }
.loader { margin-left: 10px; vertical-align: middle; }

.faceted-search-div
{
    background: #ccc;
}

.faceted-search-div form#faceted-search
{
    margin: 20px;
}

form#faceted-search p
{
    display: inline-block;
    margin-right: 20px;
}

form#faceted-search p label
{
    margin-right: 5px;
}

form#faceted-search input
{
    height: 30px;
}

form#faceted-search select
{
    height: 30px;
}

form#faceted-search .facetious_submit_button
{
    border: 0;
    background-color: #d70000;
    /*border-top: 1px solid #ec4b4c;
    border-left: 1px solid #ec4b4c;
    border-bottom: 1px solid #9d0000;
    border-right: 1px solid #9d0000;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    height: 30px;
    padding: 3px 10px;
}
.page-numbers li {
	float: left;
}
.page-numbers li a, .page-numbers li .current {
	padding: 10px;
}